*{
	font-family: arial, verdana, tahoma, sans-serif;
	color: #999;
}
#container{
	margin: 0 auto;
	width: 960px;
        background-color:black;
        color:slategray;
	border: 1px solid #ccc;
	border-radius: 18px;
	padding: 20px;
	box-shadow: 8px 8px 8px 0px #ccc;
	margin-bottom: 20px;
}
.error{
	border: 1px solid #8c0909;
	border-radius: 8px;
	background-color: #fd9999;
	color: #8c0909;
	padding: 8px;
	margin-bottom: 20px;
}
table{
    	margin: 0 auto;
	width: 960px;
        line-height:30px;
	padding: 20px;
	box-shadow: 0px 8px 8px 0px #ccc;
	margin-bottom: 20px;
}
thead{
	font-weight: bold;

}
#tbody tr{
    border: 1px solid #ccc;
    padding: 20px;
}
tfoot{
	font-weight: bold;

}
td.right{
	text-align: right;
}
table.list{
	width: 100%;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 100px; /* width of the spinner gif */
    height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}
