*{
	font-family: arial, verdana, tahoma, sans-serif;
	color: #999;
}
#container{
	margin: 0 auto;
	width: 960px;
	border: 1px solid #ccc;
	/*border-radius: 18px;*/
	padding: 20px;
	/*box-shadow: 8px 8px 8px 0px #ccc;*/
	margin-bottom: 20px;
}
.error{
	border: 1px solid #8c0909;
	border-radius: 8px;
	background-color: #fd9999;
	color: #8c0909;
	padding: 8px;
	margin-bottom: 20px;
}
thead{
	font-weight: bold;
}
td.right{
	text-align: right;
}
table.list{
	width: 100%;
}
.msg{
	border: 1px solid #00662a;
	border-radius: 4px;
	background-color: #36a531;
	color: #fff;
	padding: 2px;
	margin-bottom: 10px;
}
.required + span{
	color: #f00;
	margin-left: 5px;
}
ul.menu{
	list-style-type: none;
}
ul.menu li{
	float: left;
	margin-right: 20px;
}
.gray{
    background-color:lightgray;
}
/* ============  Begin menu sectie =============== */
.drop {
	/* stel evt. menubreedte in */ 
	/*width: 1038px; */
}
.drop_menu {
	/* menu achtergrond en hoogte vd balk */
	background:#224477;
	padding:2px;
	margin:0 auto;
	list-style-type:none;
	height:30px;
}
.drop_menu li { 
	float:left;
}
.drop_menu li:hover { 
	/* Stel tekstkleur in voor mouseover / hover */
	color: blue;
}
.drop_menu li a {
	/* stel tussenruimte in en kleur van de tekst en font */
	padding:9px 20px;
	display:block;
	color: white;
	text-decoration:none;
	font:14px arial, verdana, sans-serif;
}
.drop_menu a:hover {
	/* tekstkleur bij hover over main item */
	color: blue;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover {
	/* tekstkleur bij hover en achtergrond */
	color: blue;
	position:relative; 
	background:#AAD4FF;
}
.drop_menu li:hover ul {
	/* submenu positie en achtergrond */
	left:0px;
	top:30px;
	background:#eee;
	padding:0px;
	color: blue;
}

.drop_menu li:hover ul li a {
	/* submenu achtergrond en breedte */
	padding:5px;
	display:block;
	width:168px;
	border: none;
	text-indent:15px;
	background-color:#eee;
	color: blue;
}
.drop_menu li:hover ul li a:hover { 
	/* achtergrond submenu bij hover */
	background: #AAD4FF;
	color: blue;
}

/* ============  Einde menu sectie =============== */